body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('backgrr.jpg') no-repeat center center fixed;
    background-size: cover; /* Deckt den gesamten Hintergrund ab */
    background-attachment: fixed; /* Hält das Bild beim Scrollen fixiert */
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}


        .container {
            max-width: 700px;
            padding: 40px;
            background-color: rgba(51, 51, 51, 0.8); /* Semi-transparent background */
            border-radius: 15px;
            box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
            position: relative;
        }

        h1 {
            font-size: 3rem;
            margin-bottom: 20px;
            color: #F0B143;
        }

        p {
            font-size: 1.2rem;
            color: #ddd;
            line-height: 1.5;
        }

        .message {
            font-size: 1.4rem;
            color: #F0B143;
            margin-top: 20px;
        }

        .btn {
            background-color: #F0B143;
            color: white;
            padding: 15px 30px;
            border: none;
            border-radius: 30px;
            font-size: 1.1rem;
            cursor: pointer;
            margin-top: 30px;
            transition: background-color 0.3s;
        }

        .btn:hover {
            background-color: #0097a7;
        }

        @media (max-width: 768px) {
            h1 {
                font-size: 2rem;
            }
            .container {
                padding: 20px;
            }
        }
